#messages{
    position: relative;
    left: -20px;
    top: 35px;
    min-height: 150px;
}
#timetable-content {

padding-bottom: 20px;
}
#upcoming{
    position: relative;
    left: -20px;
    top:-170px;
}

#no-message {
    text-align: center;;
}

#timetable{
    position: relative;

}

#main-container {

}

#upcoming-div {
    height:0px;
}

#dashboard-title {
    position: relative;

}

#events-title {
    position: relative;
    top: -80px;
}

#upcoming-events{
    position: relative;
    top:-86px;
    border:  1px  solid black;
        min-height: 150px;
}

#messages-title {

    position: relative;

}
