#main-container {
                    min-height:  650px;
	margin:0 auto;
	float: none;
	width:  1170px;
	padding-left:20px;
	padding-right:20px;
	background-color:white;
}
#login-btn {
	position:relative;
	left:155px;
	top:-2px;
}
#logged-in-text {
	position:relative;
	top:20px;
	left:20px;
}
#logged-out-nav{
	position:relative;
	top:5px;
}
#reset-btn {
	position: relative;
	left: -50px;
	top: 0px;
}
#login-check {
	position:relative;
	top:20px;
	left:10px;
}
#login-input {
	position:relative;
	top:15px;
	left:17px;
}
#login-form {
	position: relative;
	left: 35px;
	top: 15px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	border-color:#DDD;
	height:90px;
	width:250px;
}

#logo {
        position: relative;
        top:24px;
}

#home-slideshow {
	position:relative;
	left:20px;
	height: 250px;
}


h3.home-caption {
	text-align:center;
}

#footer-text {
        position: relative;
        top: 5px;
	text-align: center;
	
}

p {
	text-align:justify;
}
.error-input {
     border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px; 
}

#usyd-logo_id {
    position: relative;
    top: 17px;
    left:5px;
}

#welcome_id {
    position: relative;
    top: -55px;
    left: 60px;  
}
#login-links {
    position: relative;
    top: -63px;
    left: 60px;  
}