#message-title {

}

#pm_messages {

}

#pm_buttons {
    
    position: relative;
    left:625px;
    top:-15px;

}

#sort-div {
    position: relative;
    left: -118px;
    top:30px;

}

#sort-div a {
    padding: 1px 3px;
}

#form_buttons {
    
}

#conversation-text {
    position: relative;
    left:-120px;
    width: 800px;
    max-width: 800px;


}

#forward-reply-btn {
    position: relative;
    top:-15px;
    left:60px;
}

#message-buttons {
    height:0px;
}

#id_body {
    position: relative;
    left:-120px;
    width: 800px;
    max-width: 800px;
    height:200px;
}

#reply-btn {
    position: relative;
    top:5px;
    left:823px;
}