{% extends "postman/base.html" %}
{% load url from future %}
{% load i18n %}{% load postman_tags %}
{% block content %}
<h2>Messages - View Message</h2>
<div id="contact-form" class="span10 offset1">
    <div  class="form-horizontal well " >
         <legend>Conversation</legend>
              <div id="form-input-fields">
                    <div class="control-group">
                            <div class="controls">
                               <textarea id="conversation-text"style="background-color: white;" id="message" rows="10" name="message" readonly="readonly">{% for message in pm_messages %}
Sender: {{ message.obfuscated_sender|or_me:user }}
Reciepient: {{ message.obfuscated_recipient|or_me:user }}
Date: {{ message.sent_at|date:"DATETIME_FORMAT"}}
Message: {{ message.subject }}
Body: 
{{ message.body }} 
{% endfor %}</textarea>
                            </div>
                    </div>
              </div>
              <div id="message-buttons">

              <form action="" class="span6" method="post">{% csrf_token %}
                    <input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
                    <span id="forward-reply-btn"> {% if reply_to_pk %}<a id="reply-message" href="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}">{% trans "Forward and Reply" %}</a>{% endif %}</span>
                    <span id="pm_buttons">
                        {% if not archived %}<button class="btn-info" id="archive-message" type="submit" onclick="this.form.action='{% url 'postman_archive' %}?next={{ next_url|urlencode }}'">{% trans "Archive" %}</button>{% endif %}
                        <button id="delete-message" class="btn-danger" type="submit" onclick="this.form.action='{% url 'postman_delete' %}?next={{ next_url|urlencode }}'">{% trans "Delete" %}</button>
                    </span>
              </form>
                
              </div>
           {% if reply_to_pk %}
          <legend>Quick Reply</legend>
              <form action="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post">{% csrf_token %}
              <div id="pm_reply" class="controls">{{ form.body }}</div>
              <button id="reply-btn" class="btn-success" type="submit">{% trans 'Reply' %}</button>
              </form>
              {% endif %}
       </div>
</div>

{% endblock %}


{% block navigation-bar %} {# Navigation Bar #}
    <ul class="nav">
        <li><a href="/dashboard">My Dashboard</a></li>
        <li><a href="/calendar">My Timetable</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Messages<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class=""><a href="/messages/inbox">Inbox</a></li>
              <li><a href="/messages/sent">Sent</a></li>
              <li><a href="/messages/archives/">Archive</a></li>
              <li><a href="/messages/trash">Trash</a></li>
              <li><a href="/messages/write">Write Message</a></li>
            </ul>
         </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Settings<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Edit Locations</a></li>
              <li><a href="#">Edit Tutorable Subjects</a></li>
              <li><a href="#">Add Review</a></li>
              <li class="divider"></li>
              <li class="nav-header">My Profile</li>
              <li><a href="#">View Profile</a></li>
              <li><a href="#">Edit Profile</a></li>
            </ul>
         </li>
        <li><a href="/search/">Find a Tutor</a></li>
    </ul>
{% endblock %}

 {% block extra_head %}
 
    <link rel="stylesheet" href="{{STATIC_URL}}tutablr/css/messages_view.css" />
  {% endblock %}