{% extends "base.html" %}
	
	{% load i18n %}
	
	{% block content %}
	    {% if form.errors %}
	    <p class="errorlist">{% trans "Sorry there are corrections needed in your form below:" %} {{ form.non_field_errors }}</p>
	    {% endif %}
	    {% if form.is_multipart %}
	    <form enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
	    {% else %}
	    <form method="post" action=".">{% csrf_token %}
	   {% endif %}
	   {{ form.as_p }}
	   <input type="submit" value="Post" />
	   </form>
	{% endblock %}