{% extends "base_logged_out.html" %}
	
	{% load i18n %}
	
	{% block content %}
	<h3>{% trans "User profile for" %} {{ user.first_name }} {{ user.last_name }} </h3>
	<table >
	        <tr>
	       <th align="left">{% trans "Username" %}</th>
	      <td>{{profile.user}} </td>
	    </tr>
	
	        <tr>
	        <th align="left">{% trans "First Name" %}</th>
	      <td>{{profile.user.first_name}} </td>
	    </tr>
		<tr>
	        <th align="left">{% trans "Last Name" %}</th>
	      <td>{{profile.user.last_name}} </td>
	    </tr>
	
	        <tr>
	        <th align="left">{% trans "Email" %}</th>
	      <td>{{profile.user.email}} </td>
	   </tr>
	       
	    <tr>
	        <th align="left">{% trans "Mobile Phone Number" %}</th>
	     <td>{{profile.mobile_phone}} </td>
	    </tr>
	     <th align="left">{% trans "Home Phone Number" %}</th>
	      <td>{{profile.home_phone}} </td>
	    </tr>
		<tr>
	        <th align="left">{% trans "About Me" %}</th>
	      <td>{{profile.about_me}} </td>
	    </tr>
		<tr>
	        <th align="left">{% trans "Extra Details" %}</th>
	      <td>{{profile.extra_details}} </td>
	    </tr>
	    </table>
	<br>
	
<a href="{% url postman_write profile.user %}"> write to {{ profile.user.first_name }} </a>
	{% if user.id == profile.user.id %}
		<p><a href="/profiles/edit/">{% trans "Edit you user profile " %}</a></p>
	{%endif%}
	<p><a href="/calendar/user/{{profile.user.id}}">{{profile.user.username}}'s Calendar</a></p>
	{% endblock %}
