{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <link rel="icon" href="{{STATIC_URL}}tutablr/img/favicon.ico">
        <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="{{STATIC_URL}}tutablr/css/general.css" />
        {% block extra_head %} {% endblock %}
        <title>{% block title %}Tutablr{% endblock %}</title>
    </head>

    <body class="well" {% block body_attributes%}{%endblock%}>
         <div id="main-container" class="container-fluid">
                    <div class="row-fluid">
                        <div id="logo" class="span3">
                            <img src="{{STATIC_URL}}tutablr/img/logo.png" alt="Logo"  />
                        </div>
                        <div id="login-div">
                                        {%block top-form %}{% endblock %}  {# This is the area for the login box or login information if the user is logged in #}
                        </div>
                        
                    </div>       
                    <div id="logged-out-nav" class="navbar"> 
                        <div class="navbar-inner">
                        {% block navigation-bar %} {# Navigation Bar #}
                            <ul class="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/accounts/register">Register As Tutor</a></li>
                                <li><a href="/howitworks">How TuTablr Works</a></li>
                            </ul>
                        {% endblock %}
                        </div>
                    </div>  



                    <div id="main-area" class="row-fluid">
                        {% block content %}
                            <p>MAIN AREA</p>
                        {% endblock %}
                    </div>
        </div>
        <footer class="footer">
            <div class="container">
                {% block footer %}
                <p id="footer-text">&copy; Lolcatz IT</p>
                {% endblock %}
            </div>
        </footer>
        {% block usual_scripts %}
        {% block jquery %}<script src="{{STATIC_URL}}tutablr/js/jquery-1.8.2.min.js"></script>{% endblock%}
        <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}tutablr/js/general_functions.js"></script>
        {% endblock %}
        {% block extra_scripts %} {% endblock %}
    </body>

</html>
