{% extends "base_logged_out.html" %}
{% load i18n %}

{% block extra_head %}
        <link rel="stylesheet" href="{{STATIC_URL}}tutablr/css/dashboard.css" />
        <meta name="generator" content="HTML Tidy for Windows (vers 14 February 2006), see www.w3.org" />
    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}fullcalendar/jquery-ui-1.9.0.custom.css' />
    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}fullcalendar/fullcalendar.css' />
    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}fullcalendar/fullcalendar.print.css' media='print' />
    <style type='text/css'>
      /*<![CDATA[*/



      #calendar {
        width: 800px;
        margin: 0 auto;
      }

      /*]]>*/
    </style>
{% endblock %}
{% block content %}
    <h2 id="dashboard-title" >My Dashboard</h2>
    <div id="timetable-content" class="row-fluid">
                <div id="timetable" class="span9">
                    <div id = "calendar"></div>
                </div>
                <div id="messages" class="span3">
                      <h3 id="messages-title"class="home-caption">Unread Messages ({{numberOfMessages}})</h3>
                      <div class="caption">
                        <table border="0" class="table table-striped table-bordered">
                            <tbody>
                             {% if messages|length == 0%}
                                <tr>
                                    <td id="no-message"text-align="center">You have no new messages.</td>
                                </tr>
                                <tr><td height="18"></td></tr>
                                <tr><td height="18"></td></tr>
                                <tr><td height="18"></td></tr>
                                <tr><td height="18"></td></tr>
                            {%else%}
                                {% for message in messages %}
                                    <tr>
                                        <td><a href="/messages/view/{{message.id}}/?next=/messages/inbox">Subject: {{message.subject}}</a></td>
                                    </tr>
                                {% endfor %}
                                {% autoescape off %}{{ extraRows }}{% endautoescape %}

                            {%endif%}
                            </tbody>
                        </table>
                      </div>
                </div>
          

            </div>

{% endblock %}

{% block navigation-bar %} {# Navigation Bar #}
    <ul class="nav">
        <li class="active"><a href="/dashboard">My Dashboard</a></li>
        <li><a href="/calendar">My Timetable</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Messages<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/messages/inbox">Inbox</a></li>
              <li><a href="/messages/sent">Sent</a></li>
              <li><a href="/messages/archives/">Archive</a></li>
              <li><a href="/messages/trash">Trash</a></li>
              <li><a href="/messages/write">Write Message</a></li>
            </ul>
         </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Settings<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/profile/locations">Edit Locations</a></li>
              <li><a href="#">Edit Tutorable Subjects</a></li>
              <li><a href="/reviews">Add Review</a></li>
              <li class="divider"></li>
              <li class="nav-header">My Profile</li>
              <li><a href="#">View Profile</a></li>
              <li><a href="#">Edit Profile</a></li>
            </ul>
         </li>
        <li><a href="/search/">Find a Tutor</a></li>
    </ul>
{% endblock %}

{%block extra_scripts%}
  <script type="text/javascript" src="{{STATIC_URL}}fullcalendar/jquery-1.8.2.js"></script>
    <script type='text/javascript' src='{{STATIC_URL}}fullcalendar/jquery-ui-1.9.0.custom.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}fullcalendar/fullcalendar.min.js'></script>
        <script type='text/javascript' src='{{STATIC_URL}}tutablr/js/dashboard_calendar.js'></script>

{%endblock %}

