{% extends "base_logged_out.html" %}
{% load i18n %}

{% block content %}
            <div id="home-slideshow" class="span6 offset1">
                <img id="homeimage" src="{{STATIC_URL}}tutablr/img/tutoring.jpg" alt="Tutablr" />
            </div>
            <div id="home-maintext" class="span4">
                <ul class="thumbnails">
                  <li>
                    <div id="home-maintext-thumbnail" class="thumbnail ">
                      
                      <div class="caption">
                        <h3 class="home-caption">Welcome to TuTablr!</h3>
                        <p>TuTablr is the next big thing to help the students of  the University of Sydney achieve the marks they want. </p>
                        <p>Who better to tutor you in a subject than the students/staff who have taken the subject before? Tutablr brings past and present students and teachers together, to make the search for a tutor easy!</p>
                      </div>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        </br>
        </br>
        <div id="bottom-boxes"class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail well">
                  
                  <div class="caption bottom-boxes">
                    <h3 class="home-caption">Pricing</h3>
                    <p>TuTablr is a free service provided by the University of Sydney. Tutoring prices range anywhere between $20 to $100 per hour, depending on your tutor.</p>
                    <p>Unfortunately, as this is not a university run course, the HECS system is not valid for costs incurred.</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail well">
                  
                  <div class="caption bottom-boxes">
                    <h3 class="home-caption">Contact Us</h3>
                    <p>Want to inquire into your pending tutoring application? Got a bug to report? Or do you want to just congratulate use on how great TuTablr is? </p>
                    <p>Whatever your question or comment, we would love to hear from you! Please head to our <a href="/contact">Contacts Page</a>!</p>
                 </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail well">
                 
                  <div class="caption bottom-boxes">
                    <h3 class="home-caption">Testimonials</h3>
                    <p>"TuTablr has helped me pass my math course, which I thought I would fail at the start of the semester!"  - Jodie (Math1001)</p>
                    <p>"Without TuTablr, I would have failed my Algorithms course. Again!" - Miles (Comp2007)</p>
                  </div>
                </div>
              </li>
            </ul>
       </div>
{% endblock %}

 {% block extra_head %}
    <link rel="stylesheet" href="{{STATIC_URL}}tutablr/css/index.css" />
  {% endblock %}

{% block navigation-bar %} {# Navigation Bar #}
  <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/accounts/register">Register As Tutor</a></li>
      <li><a href="/howitworks">How TuTablr Works</a></li>
  </ul>
{% endblock %}
