<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="generator" content="HTML Tidy for Windows (vers 14 February 2006), see www.w3.org" />
		<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}fullcalendar/jquery-ui-1.9.0.custom.css' />
		<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}fullcalendar/fullcalendar.css' />
		<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}fullcalendar/fullcalendar.print.css' media='print' />
		<script type="text/javascript" src="{{STATIC_URL}}fullcalendar/jquery-1.8.2.js"></script>
		<script type='text/javascript' src='{{STATIC_URL}}fullcalendar/jquery-ui-1.9.0.custom.js'></script>
		<script type='text/javascript' src='{{STATIC_URL}}fullcalendar/fullcalendar.min.js'></script>
		<script type='text/javscript' src='{{STATIC_URL}}tutablr/js/general_functions.js'></script>
		<script>
			$(document).keypress(function(event) {
				if (event.which == '13') {
					event.preventDefault();
				}
			});
		</script>
		<script type="text/javascript">
			window.onbeforeunload = function() {
				$.ajax({
					url : "/../../unlock_request/",
					type : 'POST',
					async: false,
					data : {
						event_type : $('#cancel_event_type').val(),
						event_id : $('#cancel_event_id').val()
					},
					success : function(data) {
						if (data == "1") {
							console.log($('#cancel_event_type').val() + " " + $('#cancel_event_id').val() + " unlocked");
						}
						return true;
					}
				});
				return null;
			}
		</script>
		<script type='text/javascript'>
			var dialog_open = false;
			setInterval("refresh_check();",1000);
			
			function refresh_check(){
				console.log("check");
				if(dialog_open == false){
					$('#calendar').fullCalendar('refetchEvents');
					console.log(dialog_open);
				}else{
					console.log(dialog_open);
				}
			}
			$(document).ready(function() {
				
				var last_url = location.pathname.match(/\/user\/(.*)/)[1]
				var user_id = '';
				if (last_url[last_url.length - 1] == '/') {
					user_id = last_url.substring(0, last_url.length - 1);
				} else {
					user_id = last_url;
				}
				$('#calendar').fullCalendar({
					header : {
						left : 'prev,next today',
						center : 'title',
						right : 'month,agendaWeek,agendaDay'
					},
					defaultView : 'agendaWeek',
					selectable : true,
					selectHelper : true,
					editable : true,
					disableResizing : true,
					aspectRatio : 1.75,
					eventDragStart : function() {
						dialog_open = true;
					},
					eventDragStop : function() {
						dialog_open = false
					},
					eventDrop : function(event, dayDelta, minuteDelta, allDay, revertFunc) {
						//check for lock and revertFunc if locked
						if (!event.draggable || ((event.type == "student_session" || event.type == "tutor_session") && event.pending)) {
							revertFunc();
						} else {
							$.ajax({
								url : '/../../drop_event/' + user_id + '/',
								type : 'POST',
								data : {
									dayDelta : dayDelta,
									minuteDelta : minuteDelta,
									drop_event_id: event.id,
									eventType: event.type
								},
								success : function(data) {
									if (data == "1") {
										//console.log($('#cancel_event_type').val() + " " + $('#cancel_event_id').val() + " unlocked");
										console.log("unlocked");
									}
									return true;
								}
							});
							$('#calendar').fullCalendar('refetchEvents');
						}
						
					},
					select : function(start, end, allDay) {
						var start_time = $.fullCalendar.formatDate(start, "HH:mm");
						var end_time = $.fullCalendar.formatDate(end, "HH:mm");
						var start_date = $.fullCalendar.formatDate(start, "dd/MM/yyyy");
						var end_date = $.fullCalendar.formatDate(end, "dd/MM/yyyy");
						$('#add_booking').dialog('option', 'title', 'Add Booking');
						$("#id_start_time").val(start_time);
						$("#id_finish_time").val(end_time);
						$('#id_date').val(start_date);
						$("#add_booking").dialog("open");
						$('#id_date').datepicker("enable");
						calendar.fullCalendar('unselect');
						dialog_open = true;
						//add default descriptions based on tutor or student and session or booking, as well as the unit name
					},
					eventClick : function(event, jsEvent, view) {
						if (event.editable) {
							var start_time = $.fullCalendar.formatDate(event.start, "HH:mm");
							var end_time = $.fullCalendar.formatDate(event.end, "HH:mm");
							var start_date = $.fullCalendar.formatDate(event.start, "dd/MM/yyyy");
							var end_date = $.fullCalendar.formatDate(event.end, "dd/MM/yyyy");
							var id = event.id;
							var title = event.title;
							//tutor session (booking) is session (booking) with a tutor
							if (event.type == "tutor_session" || event.type == "student_session") {
								//check for lock
								//post to /../../get_lock/
								//event_type = "session"
								//event_id = event.id
								//receive either "1" = was unlocked but now locked and "0" = already locked.
								if (event.pending) {
									alert('Session already has a pending edit');
									return false;
								}
								$.ajax({
									url : "/../../get_lock/",
									type : 'POST',
									data : {
										event_type : "session",
										event_id : id
									},
									success : function(data) {
										if (data == "1") {
											//unlocked but now locked
											$("#edit_session_start").val(start_time);
											$("#edit_session_end").val(end_time);
											$("#edit_session_title").val(title);
											$("#session_tutor").html(event.tutor_id);
											$("#session_student").html(event.student_id);
											$("#session_creator").html(event.creator);
											$("#session_start").html(start_time);
											$("#session_end").html(end_time);
											$("#session_title").html(title);
											$("#edit_session_date_start").html(start_date)
											$("#edit_session_event_id").val(id);
											$('#datePicker_session_start_edit').datepicker("enable");
											$('#datePicker_session_start_edit').val(start_date);
											$('#cancel_event_id').val(id);
											$('#cancel_event_type').val("session");
											if (event.type == "tutor_session") {
												$('#edit_session').dialog('option', 'title', 'Edit Tutor Session: ' + event.title);
												$('#table_edit_session').dialog('option', 'title', 'Edit Tutor Session: ' + event.title);

												//delete, reject, confirm based on creator id
											} else {
												//delete, reject, confirm based on creator id
												$('#edit_session').dialog('option', 'title', 'Edit Student Session: ' + event.title);
												$('#table_edit_session').dialog('option', 'title', 'Edit Student Session: ' + event.title);
											}
											$("#edit_session").dialog("open");
											dialog_open = true;
											$("#table_edit_session").dialog("open");
										} else {
											alert("This session is already being edited")
										}
										return false;
									}
								});

							} else if (event.type == "tutor_booking" || event.type == "student_booking") {
								$.ajax({
									url : "/../../get_lock/",
									type : 'POST',
									data : {
										event_type : "booking",
										event_id : id
									},
									success : function(data) {
										if (data == "1") {
											//check for lock
											$("#edit_start").val(start_time);
											$("#edit_end").val(end_time);
											$("#edit_title").val(title);
											$("#edit_event_id").val(id);
											$("#booking_start_date").html(start_date);
											$("#booking_start").html(start_time);
											$("#booking_end").html(end_time);
											$("#booking_title").html(title);
											$("#booking_creator").html(event.creator);
											$("#booking_student").html(event.student_id);
											$("#booking_tutor").html(event.tutor_id);
											$('#datePicker_start_edit').datepicker("enable");
											$('#datePicker_start_edit').val(start_date);
											$('#cancel_event_id').val(id);
											$('#cancel_event_type').val("booking");
											if (event.type == "tutor_booking") {
												//delete, reject, confirm based on creator id
												$('#edit_booking').dialog('option', 'title', 'Edit Tutor Booking: ' + event.title);
											} else {
												//delete, reject, confirm based on creator id
												$('#edit_booking').dialog('option', 'title', 'Edit Student Booking: ' + event.title);
											}
											console.log(event.creator_id);
											console.log(user_id);
											if (event.creator_id != user_id) {
												$("#btnDelete").button("enable");
												$("#btnConfirm").hide();
												$("#btnReject").hide();
											}else if(event.creator_id == undefined){
												$("#btnDelete").button("enable");
											}else {
												$("#btnDelete").hide();
												$("#btnConfirm").button("enable");
												$("#btnReject").button("enable");
											}
											$('#select_dialog').dialog('option', 'title', 'Booking: ' + event.title);
											$("#select_dialog").dialog("open");
											dialog_open = true;
										} else {
											console.log("got 0");
											alert("Booking is being edited by another user");
										}
										return false;
									}
								});

							}
						}
					},
					events : '/calendar/user_events.json/' + user_id
				});
				$('#select_dialog').dialog({
					autoOpen : false,
					width : 400,
					modal : true,
					closeOnEscape: false,
					resizable : true,
					buttons : [{
						text : "Edit",
						"id" : "btnEdit",
						click : function(e) {
							$('#edit_booking').dialog('open');
							$(this).dialog('close');
							dialog_open = true;

						}
					}, {
						text : "Confirm",
						"id" : "btnConfirm",
						click : function() {
							var url = '/../../confirm_booking/' + user_id + '/';
							$.ajax({
								url: url,
								type:'POST',
								data: {
									edit_start_date: $("#datePicker_start_edit").val(),
									edit_start:$("#edit_start").val(),
									edit_end: $("#edit_end").val(),
									edit_title: $("#edit_title").val(),
									edit_event_id:$("#edit_event_id").val()
								},
								success: function(data) {
									console.log("1");
								}
							});
							$(this).dialog("close");
							$('#calendar').fullCalendar('refetchEvents');
							dialog_open = false;
						}
					}, {
						text : "Cancel",
						"id" : "btnCancel",
						click : function() {
							$(this).dialog("close");
							dialog_open = false;
							$.ajax({
								url : "/../../unlock_request/",
								type : 'POST',
								data : {
									event_type : $('#cancel_event_type').val(),
									event_id : $('#cancel_event_id').val()
								},
								success : function(data) {
									if (data == "1") {
										console.log($('#cancel_event_type').val() + " " + $('#cancel_event_id').val() + " unlocked");
									}
									return false;
								}
							});
							return false;
						}
					}, {
						text : "Reject",
						"id" : "btnReject",
						click : function() {
							var url = '/../../reject_booking/' + user_id + '/';
							$.ajax({
									url: url,
									type:'POST',
									data: {
										edit_start_date: $("#datePicker_start_edit").val(),
										edit_start:$("#edit_start").val(),
										edit_end: $("#edit_end").val(),
										edit_title: $("#edit_title").val(),
										edit_event_id:$("#edit_event_id").val()
									},
									success: function(data) {
										console.log("1");
									}
								});
								$(this).dialog("close");
								$('#calendar').fullCalendar('refetchEvents');
								dialog_open = false;
							}
					}, {
						text : "Delete",
						"id" : "btnDelete",
						click : function() {
							var url = '/../../delete_booking/' + user_id + '/';
							$.ajax({
								url: url,
								type:'POST',
								data: {
									edit_start_date: $("#datePicker_start_edit").val(),
									edit_start:$("#edit_start").val(),
									edit_end: $("#edit_end").val(),
									edit_title: $("#edit_title").val(),
									edit_event_id:$("#edit_event_id").val()
								},
								success: function(data) {
									console.log("1");
								}
							});
							$(this).dialog("close");
							$('#calendar').fullCalendar('refetchEvents');
							dialog_open = false;
						}
					}],
				});

		$('#table_edit_session').dialog({
							autoOpen : false,
							width : 400,
							closeOnEscape: false,
							modal : true,
							resizable : true,
							closeOnButton : false,buttons : [{
								text : "Edit",
								"id" : "btnEdit3",
								click : function(e) {
									$('#edit_session').dialog('open');
									$(this).dialog('close');
									dialog_open = true;

								}
							}, {
								text : "Cancel",
								"id" : "btnCancel3",
								click : function() {
									$(this).dialog("close");
									dialog_open = false;

									$.ajax({
										url : "/../../unlock_request/",
										type : 'POST',
										data : {
											event_type : $('#cancel_event_type').val(),
											event_id : $('#cancel_event_id').val()
										},
										success : function(data) {
											if (data == "1") {
												console.log($('#cancel_event_type').val() + " " + $('#cancel_event_id').val() + " unlocked");
											}
											return false;
										}
									});
									return false;
								}
							}],
							
						});
						$('#edit_booking').dialog({
					autoOpen : false,
					width : 400,
					modal : true,
					closeOnEscape: false,
					resizable : true,
					closeOnButton : false,
					buttons : [{
						text : "Submit",
						"id" : "btnSubmit",
						click : function() {
							var url = '/../../update_booking/' + user_id + '/';
							$.ajax({
								url: url,
								type:'POST',
								data: {
									edit_event_id: $("#edit_event_id").val(),
									edit_start_date:$("#datePicker_start_edit").val(),
									edit_end: $("#edit_end").val(),
									edit_start: $("#edit_start").val(),
									edit_title:$("#edit_title").val()
								},
								success: function(data) {
									console.log("1");
								}
							});
							$(this).dialog("close");
							$('#calendar').fullCalendar('refetchEvents');
							dialog_open = false;
						},
					}, {
						text : "Cancel",
						"id" : "btnCancel2",
						click : function() {
							$(this).dialog("close");
							dialog_open = false;
							$.ajax({
								url : "/../../unlock_request/",
								type : 'POST',
								data : {
									event_type : $('#cancel_event_type').val(),
									event_id : $('#cancel_event_id').val()
								},
								success : function(data) {
									if (data == "1") {
										console.log($('#cancel_event_type').val() + " " + $('#cancel_event_id').val() + " unlocked");
									}
									return false;
								}
							});
							return false;
						},
					}],
				});
				$('#edit_session').dialog({
					autoOpen : false,
					width : 400,
					modal : true,
					closeOnEscape: false,
					resizable : true,
					buttons : [{
						text : "Submit",
						"id" : "btnSessionSubmit",
						click : function() {
							var url = '/../../update_session/' + user_id + '/';
							$.ajax({
								url: url,
								type:'POST',
								data: {
									edit_session_start_date: $("#datePicker_session_start_edit").val(),
									edit_session_start:$("#edit_session_start").val(),
									edit_session_end: $("#edit_session_end").val(),
									edit_session_title: $("#edit_session_title").val(),
									edit_session_event_id:$("#edit_session_event_id").val()
								},
								success: function(data) {
									console.log("1");
									//console.log(data);
								}
							});

							$(this).dialog("close");
							$('#calendar').fullCalendar('refetchEvents');
							dialog_open = false;
						},
					}, {
						text : "Cancel",
						"id" : "btnSessionCancel",
						click : function() {
							$(this).dialog("close");
							dialog_open = false;
							$.ajax({
								url : "/../../unlock_request/",
								type : 'POST',
								data : {
									event_type : $('#cancel_event_type').val(),
									event_id : $('#cancel_event_id').val()
								},
								success : function(data) {
									if (data == "1") {
										console.log($('#cancel_event_type').val() + " " + $('#cancel_event_id').val() + " unlocked");
									}
									return false;
								}
							});
							return false;
						},
					}, {
						text : "Delete",
						"id" : "btnSessionDelete",
						click : function() {
							var url = '/../../delete_session/' + user_id + '/';
							$.ajax({
								url: url,
								type:'POST',
								data: {
									edit_session_start_date: $("#datePicker_session_start_edit").val(),
									edit_session_start:$("#edit_session_start").val(),
									edit_session_end: $("#edit_session_end").val(),
									edit_session_title: $("#edit_session_title").val(),
									edit_session_event_id:$("#edit_session_event_id").val()
								},
								success: function(data) {
									console.log("1");
									//console.log(data);
								}
							});
							$('#calendar').fullCalendar('refetchEvents');
							dialog_open = false;
							$(this).dialog("close");
						}
					}]
				});

				$('#add_booking').dialog({
					autoOpen : false,
					width : 400,
					modal : true,
					closeOnEscape: false,
					resizable : true,
					buttons : [{
						text : "Submit",
						"id" : "btnAddSubmit",
						click : function() {
							var url = '/../../add_booking/' + user_id + '/';
							$.ajax({
								url: url,
								type:'POST',
								data: {
									date: $("#id_date").val(),
									start_time:$("#id_start_time").val(),
									finish_time: $("#id_finish_time").val(),
									UoS: $("#id_UoS").val(),
									description:$("#id_description").val()
								},
								success: function(data) {
									console.log("1");
									//console.log(data);
								}
							});
							$('#calendar').fullCalendar('refetchEvents');
							dialog_open = false;
							$(this).dialog("close");
						},
					}, {
						text : "Cancel",
						"id" : "btnAddCancel",
						click : function() {
							$(this).dialog("close");
							dialog_open = false;
							return false;
						}
					}]
				});

				$("#datePicker_start_edit").datepicker({
					dateFormat : 'dd/mm/yy'
				});
				$("#datePicker_session_start_edit").datepicker({
					dateFormat : 'dd/mm/yy'
				});
				$("#id_date").datepicker({
					dateFormat : 'dd/mm/yy'
				});
				$('#id_date').datepicker("disable");
				$('#datePicker_start_edit').datepicker("disable");
				$('#datePicker_session_start_edit').datepicker("disable");
				$('#a').click(function() {
					$('#add_booking').dialog('close');
					$('#edit_booking').dialog('close');
					$('#edit_session').dialog('close');
				});

			});
			//]]>
		</script>

		<style type='text/css'>
			/*<![CDATA[*/

			body {
				margin-top: 40px;
				text-align: center;
				font-size: 14px;
				font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
			}

			#calendar {
				width: 800px;
				margin: 0 auto;
			}

			/*]]>*/
		</style>
		<title>User Calendar</title>
	</head>
	<body>
		<div id="edit_session" title="Edit Booking">
			<form name="editSessionForm" action="/../../update_booking/"  method="post">
				{% csrf_token %}
				<fieldset>
					<label for = "edit_session_date_start"> Date </label>
					<input type="text" name = "edit_session_start_date" id="datePicker_session_start_edit" required="required" />
					<br>
					<label for="edit_start">Start Time</label>
					<input type="text" name="edit_session_start" id="edit_session_start" class="text ui-widget-content ui-corner-all" required="required" />
					<br>
					<label for="edit_end">End Time</label>
					<input type="text" name="edit_session_end" id="edit_session_end" class="text ui-widget-content ui-corner-all" required="required" />
					<br>
					<label for="title">Event Description</label>
					<input type="text" name="edit_session_title" id="edit_session_title" class="text ui-widget-content ui-corner-all" />
					<input type="hidden" name="edit_session_event_id" id="edit_session_event_id" class="text ui-widget-content ui-corner-all" required="required" />
				</fieldset>
				<input type="submit" value="Yes" id ="SubmitEditSession" style="display:none">
			</form>
		</div>
		<div id ="select_dialog">
			<table>
				<tr>
					<td><label for = "booking_creator"> Created By </label></td>
					<td><div id = "booking_creator"></div></td>
				</tr>
						<td><label for = "booking_student"> Student </label></td>
					<td><div id = "booking_student"></div></td>
				</tr>
				<tr>
					<td><label for = "booking_tutor"> Tutor </label></td>
					<td><div id = "booking_tutor"></div></td>
				</tr>
				<tr>
					<td><label for = "booking_start_date"> Start Date </label></td>
					<td><div id = "booking_start_date"></div></td>
				</tr>

				<tr>
					<td><label for="booking_start">Start</label></td>
					<td><div id = "booking_start"></div></td>

				</tr>
				<tr>
					<td><label for="booking_end">End Time</label></td>
					<td><div id = "booking_end"></div></td>

				</tr>
				<tr>
					<td><label for="title">Event Description</label></td>
					<td><div id = "booking_title"></div></td>

				</tr>

			</table>
		</div>
		<div id = "table_edit_session">
			<table>
				<tr>
					<td><label for = "session_creator"> Created By </label></td>
					<td><div id = "session_creator"></div></td>
				</tr>
						<td><label for = "session_student"> Student </label></td>
					<td><div id = "session_student"></div></td>
				</tr>
				<tr>
					<td><label for = "session_tutor"> Tutor  </label></td>
					<td><div id = "session_tutor"></div></td>
				</tr>
				<tr>
					<td><label for = "edit_session_date_start"> Start Date </label></td>
					<td><div id = "edit_session_date_start"></div></td>
				</tr>

				<tr>
					<td><label for="edit_session_start">Start</label></td>
					<td><div id = "session_start"></div></td>

				</tr>
				<tr>
					<td><label for="session_end">End Time</label></td>
					<td><div id = "session_end"></div></td>

				</tr>
				<tr>
					<td><label for="title">Event Description</label></td>
					<td><div id = "session_title"></div></td>

				</tr>

			</table>
		</div>
		<div id="edit_booking" title="Edit Booking">
			<form name="editBookingForm" action="/../../update_booking/"  method="post">
				<div id="edit_div" style="display:block">
					{% csrf_token %}
					<fieldset>
						<label for = "edit_date_start"> Date </label>
						<input type="text" name = "edit_start_date" id="datePicker_start_edit" required="required" />
						<br>
						<label for="edit_start">Start Time</label>
						<input type="text" name="edit_start" id="edit_start" class="text ui-widget-content ui-corner-all" required="required" />
						<br>
						<label for="edit_end">End Time</label>
						<input type="text" name="edit_end" id="edit_end" class="text ui-widget-content ui-corner-all" required="required" />
						<br>
						<label for="title">Event Description</label>
						<input type="text" name="edit_title" id="edit_title" class="text ui-widget-content ui-corner-all" />

						<input type="hidden" name="edit_event_id" id="edit_event_id" class="text ui-widget-content ui-corner-all" required="required" />
					</fieldset>
				</div>
				<input type="submit" value="Yes" id ="SubmitEdit" style="display:none">
			</form>
		</div>
		<div id ="cancel" style="display:none">
			<form name="cancel" action="/../../unlock/" method="post">
				{% csrf_token %}
				<input type="text" name = "cancel_event_id" id="cancel_event_id" required="required" />
				<input type="text" name = "cancel_event_type" id="cancel_event_type" required="required" />
				<input type="submit" value="Yes" id ="SubmitCancel" style="display:none">
			</form>
		</div>
		<div id="edit_drop" title="Edit Drop" style="display:none">
			<form name="editDropForm" action="/../../update_drop/"  method="post">
				{% csrf_token %}
				<fieldset>
					<input type="text" name = "dayDelta" id="dayDelta" required="required" />
					<input type="text" name="minuteDelta" id="minuteDelta" required="required" />
					<input type="text" name="eventType" id="eventType" required="required" />
					<input type="hidden" name="drop_event_id" id="drop_event_id" required="required" />
				</fieldset>
				<input type="submit" value="Yes" id ="SubmitDrop" style="display:none">
			</form>
		</div>
		<div id="add_booking" title="Add Booking">
			<form name="addForm" action="/../../add_booking/{{user.id}}/" method="post">
				{% csrf_token %}
				{{form.as_p}}
				<input class="datePicker" readonly="true" type="text" id="id_date" style="display:none" />
				<input type="submit" value="Yes" id="SubmitAdd" style="display:none">
			</form>
		</div>
		<div id='calendar'></div>
				<p><a href="/dashboard" title="Back to Dashboard">Back to Dashboard</a></p>
	</body>
</html>
